# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# aws credentials
aws_creds.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/app/devComponents

# misc
.DS_Store
*.pem
conf.json
spotify_secrets.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.venv
env
venv

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
__pycache__

# database
migrations/
# React Component Preview
previewConfig.json