/* styles/Navigation.module.css */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #c4c4c456;
  color: black;
  font-family: 'Overused Grotesk';
}

.leftSection {
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.library,
.create {
  cursor: pointer;
  margin-right: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #dbdadacc;
  min-width: 160px;
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.create {
  cursor: pointer;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userName {
  margin-right: 10px;
}

.profilePicture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: .75;
}
