
ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  p {
    margin: 0;
  }
  
  a {
    color: #0070f3;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 5px; */
    /* padding: 10px; */
  }
          
  .item {
    /* padding: 20px 0; */
    font-size: 30px;
  }
  
          
  @media (max-width: 992px) {
      .container {  grid-template-columns: auto;}
  }  