
ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  p {
    margin: 0;
  }
  
  a {
    color: #0070f3;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }