@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.search-bar input {
  margin-right: 2vh;
  color:black;
}

.split-view {
  display: flex;
  height: calc(100vh - 80px);
}

.left-column,
.right-column {
  flex: 1;
  padding: 20px;
}
 
.tune {
  padding: 2vh;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 2vh;
}

.title-container,
.description-container {
  margin-bottom: 10px;
}

.title {
  width: 50%;
  color:black;
}

.description {
  width: 75%; 
  font-size: 16px; 
  padding: 8px; 
  box-sizing: border-box;
  color:black;
}

.subtune-meta p {
  font-size: 16px;
  padding-left: 2vh;
  color: gray;
}

.subtune-meta h1{
  font-size: 32px;
  padding-left: 2vh;
}


.subtune {
  border: 1px solid gray;
  margin-bottom: 1vh;
  border-radius: 3px;
}

.preview {
  overflow: auto;
  white-space: nowrap;
  border: gray solid 1px;
  margin-top: 3vh;
  margin-bottom: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  border-radius: 1px;
}

.item {
  display: inline-block;
  padding: 4vh;
  border-radius: 2px;
}

.see-all-button {
  float: right;
  border: solid gray 1px;
  border-radius: 3px;
  padding: 1vh;
  margin-right: 1vh;
}

.see-all-button:hover {
  background-color: gray;
}